/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--ifm-color-primary-dark);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonCustom1 {
  background-color: #ff5733;
  color: #fff;
}

.buttonCustom2 {
  background-color: #33ff57;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 1rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 32px 0;
  grid-gap: 15px;
}

@media (min-width: 996px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
  }
}
