.warningModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100vw;
  height: 100vh;
  background-color: #000000cc;
  position: fixed;
  z-index: 10000;
}

.warningText {
  color: #fee6e7;
  font-size: 1em;
  max-width: 1028px;
  margin: 0 50px;
  border: 1px #535353;
  background-color: #333;
  padding: 20px 40px;
  border-radius: 20px;
  text-align: justify;
}

.warningButton {
  background-color: #333;
  color: #fee6e7;
  border: 3px solid #484747;
  border-radius: 21px;
  padding: 5px 10px;
  font-size: 1em;
}

.warningButton:hover {
  background-color: transparent;
  box-shadow: 0 0 10px #fee6e7;
}

@media (min-width: 600px) {
  .warningText {
    font-size: 2em;
  }
  .warningButton {
    font-size: 2em;
  }
}
